$bright-blue: #3a7bfd;
$check-background: linear-gradient #57ddff to #c058f3;


$veryLightGray: #fafafa;
$veryLightGrayishBlue: #e4e5f1;
$lightGrayishBlue: #d2d3db;
$darkGrayishBlue: #9394a5;
$veryDarkGrayishBlue: #484b6a;


$VeryDarkBlue: #161722;
$VeryDarkDesaturatedBlue: #25273c;
$LightGrayishBlue: #cacde8;
$LightGrayishBluehover: #e4e5f1;
$DarkGrayishBlue: #777a92;
$VeryDarkGrayishBlue: #4d5066;
$VeryDarkGrayishBlue: #393a4c;